/* lasciare qui vuoto */
.octopus-1{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
}

.octoprofile-1{
  border-radius: 5px;
  width: 175px;
}
@media (max-width: 767px) {
  .octoprofile-1{
    border-radius: 5px;
    width: 250px;
  }
  }

.line{
  border: 1px solid #F4C70A;
  width: 1150px;
  border-radius: 20px;
  }

@media (max-width: 767px) {
  .line{
    margin-left: 40px;
    border: 1px solid #F4C70A;
    width: 300px;
    border-radius: 20px;

    }
  }

  .dapp-octopus1{
    margin-top: 30px;
  }

@media (max-width: 767px) {
  .dapp-octopus{
      margin-top: 20px;
    }
  }

.img-homepage{
  width: 500px;  
}